body {
    background-color: black;
}

/* Title */

.title {
    text-align: center;
    font-weight: normal;
    font-family: Verdana, sans-serif;
}

.title h1{
    font-size: 50px;
    color: white;
}

/* Link */

.title h4 a {
    color: aquamarine;
    font-size: 16px;
    font-weight: normal;
}